{% extends 'base.html' %}
{% block title_block %} {{brand.name}} {% endblock %}
{% block body_block %}
<center><h1>{{brand.name}}</h1><br>
  <h3>List of Outlets</h3></center>
  <div class="col-sm-6 mx-auto m-2">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Outlet name</th>
              <th scope="col">Staff</th>
              <th scope="col"><a link="#">Menus</a></th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for outlet in outlets %}
            <tr>
              <th scope="row">#</th>
              <td>{{outlet.name}}</td>
              <td>{{outlet.staff.first_name}}</td>
              <td>{{outlet.menu.name}}
                <a class="btn btn-success btn-sm" href="#" role="button">Add</a>
              </td>
              <td><a class="btn btn-primary" href="{% url 'edit_brand' pk=brand.id %}" role="button">Edit</a></td>
              <td><a class="btn btn-danger" href="{% url 'delete_brand' pk=brand.id %}" role="button">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
          <a class="btn btn-success" href="{% url 'add_brand' %}" role="button">Add</a> | 
          <a class="btn btn-info" href="{% url 'brands' %}" role="button">Back</a> | 
          <a class="btn btn-secondary" href="{% url 'logout' %}" role="button">{{request.user.first_name}}-Logout</a>
        </table>
  </div>
{% endblock %}