{% extends 'base.html' %}
{% block body_block %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete {{item}}</p>
                <form action="{% url 'delete_brand' item.id %} " method="POST">
                {% csrf_token %}
                <a class="btn btn-primary" href="{% url 'brands' %}">Cancel</a><br>
                <br>
                <input class="btn btn-danger" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}